<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FREQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" id="toggle"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="">Home</a>
      </li>
    </ul>
    <ul>
      <li (click)="setupForAmplitude()" class="btn middle">Effect 1</li>
      <li (click)="setupForFFT()" class="btn middle">Effect 2</li>
      <!-- <li (click)="setupForFFTTwo()" class="btn middle">Effect 3</li> -->
    </ul>
    </div>
  </nav>
  <img src="./assets/play1.png" alt="play" id="play-button" (click)="playCurrentSong()">
  <!-- <div *ngIf="showFFT" id="fftcanvas"></div>
  <div *ngIf="showAmp" id="ampcanvas"></div> -->

<!-- <app-vis1></app-vis1> -->
