nav {
  background-color: black !important;
  z-index: 1;
}
.nav-link {
  color: white !important;
}

#toggle {
background-color:#53A351;
}

#enter {
  background-color: black;
  border: black;
}

.dropdown-menu {
  width: 250px;
}
