#logo {
  width: 300px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#play, #pause {
  background-color: black;
  border: black;
}

.playpause {
  text-align: center;
}
.playbutton {
  width: 100px;
}

.pausebutton {
  width: 120px;
}
